
<footer> 
  <img class="csumblogo" src="img/CSUMB-Logo.png">  
      <p id="footer">
      CST336 Internet programming 2022 
      <br><strong>Disclaimer:</strong>The information in this webpage is fictitious.
      </br>It is used for academic purpose only.
      </p>
  
</footer> 



